body {
    margin: 0;
    background: #E8E9EB;
    color: #;
    font-family: "DejaVu Sans", sans-serif;

}

body a {
  text-align: center;
  font-style: normal;
  text-decoration: none;
  transition: 0s;
}

header a {
  color: inherit;
  width: 25%;
  border-radius: 5px;
  margin-left: 7px;
  margin-right: 7px;
  transition: 0.2s ease-out;
}

header a:hover {
  color: #433633;
  border-radius: 10px;
  background-color: #91972A;
}

header {
  padding-bottom: 7px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

header li {
  padding: 10px;
}

header, footer{
  background: #433633;
}

ul {
  padding: 0px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

header img{
  width: 100px;
}

header p {
  margin: 0;
}
