/* --------------partie body --------------*/

body {
    margin: 0;
    background: #E8E9EB;
    color: #E8E9EB;
    font-family: "DejaVu Sans", sans-serif;


}

body a {
  text-align: center;
  font-style: normal;
  text-decoration: none;
  transition: 0s;
}

body section {
  display: flex;
  width: auto;
  justify-content: flex-start;
}

body section>section {
  width: 100%;
  height: 30em;
  max-height: 500px;
}

/* --------------fin partie body --------------*/



/* --------------partie article de cours --------------*/

.cours-container{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.cours {
    background: #2F3E46;
    height:auto;
    width: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    min-width: 150px;

    overflow-y: hidden;
}

.cours h3{
  margin: 0;
  padding: 10px;
}
.cours img{
  width: 50%;
  padding-left: 25%;
}
.cours p {
  overflow-wrap: break-word;
}
/* --------------fin partie article de cours --------------*/

/* --------------partie article photo sur les cotés --------------*/

aside {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 200px;
}

aside div img {
  margin: 10px;
  margin-top: 0;
  width: 100%;
}

/* --------------partie article photo sur les cotés --------------*/

/* --------------partie labels/formulaire --------------*/
label {
  color: black;
}

/* -------------- fin partie labels/formulaire --------------*/
